.wrapper {
  padding-top: 50px;
  background: #6CADDC;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-left: 200px;
  padding-right: 200px;
  background-image:url(https://www.westpoint.edu/history/SiteAssets/SitePages/American%20Civil%20War/ACW01.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
